/* ntc-color: #940084; */
/* ukr-color: #2c7c9d; */

li {
  list-style: disc;
}

.link {
  color: black;
  text-decoration: none;
  background-position-y: -0%;
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.ntc_link {
  background-image: linear-gradient(white 50%, #940084 50%);
}

.ukr_link {
  background-image: linear-gradient(white 50%, #2c7c9d 50%);
}

.ntc_link:hover,
.ukr_link:hover {
  background-position-y: 100%;
  color: #fff;
}

.link_mategra {
  position: relative;
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: #940084;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #940084;
}

.link_mategra:hover {
  text-decoration: none;
  color: white;
  background-color: #940084;
}

.links {
  position: relative;
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: #2c7c9d;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #2c7c9d;
}

.links:hover {
  text-decoration: none;
  color: white;
  background-color: #2c7c9d;
}

.logo-box {
  padding: 0.75rem;
  position: relative;
  /* max-height: 10em; */
  /* border: 1px solid red; */
  /* z-index: 500; */
  display: inline-block;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-box:hover {
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
  z-index: 999;
}

.logo-box:hover::after {
  opacity: 1;
}

.card {
  border-radius: 6px;
  /* width: 90%; */
  margin-top: 5px;
  margin-bottom: 5px;
}

.no-shadow {
  box-shadow: none;
}

.main-container {
  height: calc(100vh - 6rem);
  padding: 2rem;
}

.main-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 92%;
}

.reset__columns--my {
  margin-top: 0;
}

.columns:last-child {
  margin-bottom: -1.5rem;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* background-color: #F5F5F5; */
}

.scroll::-webkit-scrollbar {
  width: 6px;
  /* background-color: #F5F5F5; */
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  /* background-color: rgba(0,0,0,.3); */
}

/* touch */
@media screen and (max-width: 1023px) {
}

/* desktop */
@media screen and (min-width: 1024px) and (max-width: 1407px) {
  .events-container {
    height: calc(100vh - 6.5rem - 22rem);
  }

  .slider {
    height: calc(100vh - 20.5rem);
  }
}

/* widescreen-only */
@media screen and (min-width: 1408px) and (max-width: 1800px) {
  .events-container {
    height: calc(100vh - 6.5rem - 24.8rem);
  }

  .slider {
    height: calc(100vh - 21rem);
  }
}

/* fullhd */
@media screen and (min-width: 1801px) {
  .events-container {
    height: calc(100vh - 6.5rem - 27.5rem);
  }

  .slider {
    height: calc(100vh - 21rem);
  }
}

.events-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* overflow-y: visible; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  box-shadow: inset 0 15px 15px -5px #fff, inset 0 -15px 15px -5px #fff;
}

.events-title {
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
  padding-left: 1.75rem;
}

.event-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.event-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.event-item:hover {
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05, 1.05);
  z-index: 999;
}

.event-item::after {
  opacity: 1;
}

.border-corner {
  border-radius: 6px;
}

.pdf {
  color: red;
}

.content {
  font-style: italic;
}

.content div:last-child {
  font-style: normal;
}

.image--resize {
  width: 75%;
  display: block;
  display: block;
  margin: 0 auto;
}
